@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

html,
body {
    font-family: 'Montserrat', sans-serif !important;
    padding: 0 !important;
}

/* Custom scrollbar for Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 12px;
    /* Width of vertical scrollbar */
    height: 12px;
    /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f3f3f3;
    /* Track color */
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #f59e0b;
    /* Thumb color (Tailwind amber-500) */
    border-radius: 8px;
    border: 3px solid #f3f3f3;
    /* Space around thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d97706;
    /* Darker on hover */
}